@model IEnumerable<PTS.Models.PrayersTiming>
@{
    ViewBag.Title = "Category";
}
<style>
    td,th {
        padding: 5px;
    }
</style>
<br>
<table style="width:100%">
    <tr>
        <th>Mosque Name</th>
        <th>Mosque Address</th>
        <th>Fajar</th>
        <th>Zuhr</th>
        <th>Asar</th>
        <th>Magrib</th>
        <th>Isha</th>
        <th>Jumma</th>
    </tr>
    @foreach (var a in Model)
    {
    <tr>
        <td>@a.Name</td>
        <td>@a.Address</td>
        <td>@a.Fajar</td>
        <td>@a.Zuhar</td>
        <td>@a.Asar</td>
        <td>@a.Maghrib</td>
        <td>@a.Isha</td>
        <td>@a.Jumma</td>
        <td><button type="button" onclick="document.location='/Home/Edit/@a.Id'">Edit</button></td>
        <td><button type="button" onclick="document.location='/Home/Delete/@a.Id'">Delete</button></td>
    </tr>
    }
</table>